<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/unnamed.jpg" type = "image/x-icon">
    <script src="https://kit.fontawesome.com/09bad0d065.js" crossorigin="anonymous"></script>
    <title>newjeans.com</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <nav class="navbar">
                <ul class="icon">
                    <li class="iconli"><a href="https://www.facebook.com/NewJeansAttention/" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
                    <li class="iconli"><a href="https://www.instagram.com/newjeans_official/?hl=en" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                    <li class="iconli"><a href="https://twitter.com/NewJeans_ADOR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                </ul> 
            </nav>
            <header>
                <h1>
                    NewJeans
                </h1>
            </header>
            <nav class="navbar">
                <ul class="nav1">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="album.html">Albums</a></li>
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
            </nav>
            <div class="headertext">
            <h1>
                <hr>
                Album
                <hr>
            </h1>
            </div>
            <div class="album-display">
                <div class="card">
                    <div class="image-container">
                        <img src="../images/omg.jpg">
                        <a href="https://ingrv.es/OMG" target="_blank"><i id="play" class="fa-regular fa-circle-play fa-6x"></i></a>
                    </div>
                    <div class="album-title">
                        <h3>NewJeans 'OMG'</h3>
                        <h4>Latest Release · Single</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="image-container">
                        <img src="../images/ditto.jpg">
                        <a href="https://ingrv.es/Ditto" target="_blank"><i id="play" class="fa-regular fa-circle-play fa-6x"></i></a>
                    </div>
                    <div class="album-title">
                        <h3>NewJeans 'Ditto'</h3>
                        <h4>2022 · Single</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="image-container">
                        <img src="../images/1st_album.jpg">
                        <a href="https://ingrv.es/NewJeans" target="_blank"><i id="play" class="fa-regular fa-circle-play fa-6x"></i></a>
                    </div>
                    <div class="album-title">
                        <h3>NewJeans 1st EP 'NewJeans'</h3>
                        <h4>2022 · Single</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <br>
        <p>Copyright &copy; 2023. All rights reserved.</p>
    </div>
</body>
</html>