<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/unnamed.jpg" type = "image/x-icon">
    <script src="https://kit.fontawesome.com/09bad0d065.js" crossorigin="anonymous"></script>
    <title>newjeans.com</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <nav class="navbar">
                <ul class="icon">
                    <li class="iconli"><a href="https://www.facebook.com/NewJeansAttention/" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
                    <li class="iconli"><a href="https://www.instagram.com/newjeans_official/?hl=en" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                    <li class="iconli"><a href="https://twitter.com/NewJeans_ADOR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                </ul> 
            </nav>
            <header>
                <h1>
                    NewJeans
                </h1>
            </header>
            <nav class="navbar">
                <ul class="nav1">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="album.html">Albums</a></li>
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">Videos</a></li>
                </ul>
            </nav>
            <div class="headertext">
                <h1>
                    <hr>
                    Profile
                    <hr>
                </h1>
            </div>
            <div class="images-container">
                <img class = "ppic" src="../images/profilepic.jpg">
            </div>
            <div class="paragraph">
                <p>NewJeans (Korean: 뉴진스; RR: Nyujinseu) is a South Korean girl group formed by ADOR, a subsidiary of Hybe Corporation. The group is composed of five members: Minji, Hanni, Danielle, Haerin and Hyein.The group pre-released their debut single "Attention" on July 22, 2022, preceding their debut eponymous extended play, which was released on August 1, 2022.</p>
            </div>
            <div class="paragraph">
                <h3>Name</h3>
                <p>The group's name, NewJeans, has two meanings. It alludes to the idea that jeans are a timeless fashion item and the group's intention to carve a timeless image for themselves.The name is also a word play on the phrase "new genes", referring to the group ushering a new generation of pop music.</p>    
            </div>
            <div class="headertext">
                <h1>
                    <hr>
                    Members
                    <hr>
                </h1>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <div class="card-container">
                        <div class="card-images">
                            <img src="../images/minji_profile.jpeg">
                        </div>
                        <div class="member-name">
                            <h2>Minji</h2>
                        </div>
                    </div>
                    <div class="member-detail">
                        <div>
                            <h4>Stage Name:</h4>
                            <p>Minji (민지)</p>
                        </div>
                        <div>
                            <h4>Birth Name:</h4>
                            <p>Kim Minji (김민지)</p>
                        </div>
                        <div>
                            <h4>Birthday:</h4>
                            <p>May 07, 2004</p>
                        </div>
                        <div>
                            <h4>Zodiac Sign:</h4>
                            <p>Taurus</p>
                        </div>
                        <div>
                            <h4>Height:</h4>
                            <p>169 cm (5’6”)</p>
                        </div>
                        <div>
                            <h4>Blood Type:</h4>
                            <p>A</p>
                        </div>
                        <div>
                            <h4>MBTI Type:</h4>
                            <p>ESTJ-T</p>
                        </div>
                        <div>
                            <h4>Nationality:</h4>
                            <p>Korean</p>
                        </div>
                        <div>
                            <h4>Representative Emoji:</h4>
                            <p>🐻</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-images">
                            <img src="../images/Hanni_profile.jpeg">
                        </div>
                        <div class="member-name">
                            <h2>Hanni</h2>
                        </div>
                    </div>
                    <div class="member-detail">
                        <div>
                            <h4>Stage Name:</h4>
                            <p>Hanni</p>
                        </div>
                        <div>
                            <h4>Birth Name:</h4>
                            <p>Phạm Ngọc Hân / Hanni Pham</p>
                        </div>
                        <div>
                            <h4>Birthday:</h4>
                            <p>October 6, 2004</p>
                        </div>
                        <div>
                            <h4>Zodiac Sign:</h4>
                            <p>Libra</p>
                        </div>
                        <div>
                            <h4>Height:</h4>
                            <p>161.7 cm (5’3”)</p>
                        </div>
                        <div>
                            <h4>Blood Type:</h4>
                            <p>O</p>
                        </div>
                        <div>
                            <h4>MBTI Type:</h4>
                            <p>INFP</p>
                        </div>
                        <div>
                            <h4>Nationality:</h4>
                            <p>Vietnamese-Australian</p>
                        </div>
                        <div>
                            <h4>Representative Emoji:</h4>
                            <p>🐰</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-images">
                            <img src="../images/denielle_profile.jpeg">
                        </div>
                        <div class="member-name">
                            <h2>Denielle</h2>
                        </div>
                    </div>
                    <div class="member-detail">
                        <div>
                            <h4>Stage Name:</h4>
                            <p>Danielle (다니엘)</p>
                        </div>
                        <div>
                            <h4>Birth Name:</h4>
                            <p>Danielle Marsh / Mo Jihye (모지혜)</p>
                        </div>
                        <div>
                            <h4>Birthday:</h4>
                            <p>April 11, 2005</p>
                        </div>
                        <div>
                            <h4>Zodiac Sign:</h4>
                            <p>Aries</p>
                        </div>
                        <div>
                            <h4>Height:</h4>
                            <p>165 cm (5’5″)</p>
                        </div>
                        <div>
                            <h4>Blood Type:</h4>
                            <p>AB</p>
                        </div>
                        <div>
                            <h4>MBTI Type:</h4>
                            <p>ENFP</p>
                        </div>
                        <div>
                            <h4>Nationality:</h4>
                            <p>Korean-Australian</p>
                        </div>
                        <div>
                            <h4>Representative Emoji:</h4>
                            <p>🐶</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-images">
                            <img src="../images/hyein_profile.jpeg">
                        </div>
                        <div class="member-name">
                            <h2>Hyein</h2>
                        </div>
                    </div>
                    <div class="member-detail">
                        <div>
                            <h4>Stage Name:</h4>
                            <p>Hyein (혜인)</p>
                        </div>
                        <div>
                            <h4>Birth Name:</h4>
                            <p>Lee Hyein (이혜인)</p>
                        </div>
                        <div>
                            <h4>Birthday:</h4>
                            <p>April 21, 2008</p>
                        </div>
                        <div>
                            <h4>Zodiac Sign:</h4>
                            <p>Taurus</p>
                        </div>
                        <div>
                            <h4>Height:</h4>
                            <p>170 cm (5’7″)</p>
                        </div>
                        <div>
                            <h4>Blood Type:</h4>
                            <p>O</p>
                        </div>
                        <div>
                            <h4>MBTI Type:</h4>
                            <p>INFP</p>
                        </div>
                        <div>
                            <h4>Nationality:</h4>
                            <p>Korean</p>
                        </div>
                        <div>
                            <h4>Representative Emoji:</h4>
                            <p>🐣</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-container">
                        <div class="card-images">
                            <img src="../images/haerin_profile.jpeg">
                        </div>
                        <div class="member-name">
                            <h2>Haerin</h2>
                        </div>
                    </div>
                    <div class="member-detail">
                        <div>
                            <h4>Stage Name:</h4>
                            <p>Haerin (해린)</p>
                        </div>
                        <div>
                            <h4>Birth Name:</h4>
                            <p>Kang Haerin (강해린)</p>
                        </div>
                        <div>
                            <h4>Birthday:</h4>
                            <p>May 15, 2006</p>
                        </div>
                        <div>
                            <h4>Zodiac Sign:</h4>
                            <p>Taurus</p>
                        </div>
                        <div>
                            <h4>Height:</h4>
                            <p>164.5 cm (5’5”)</p>
                        </div>
                        <div>
                            <h4>Blood Type:</h4>
                            <p>B</p>
                        </div>
                        <div>
                            <h4>MBTI Type:</h4>
                            <p>ISTP</p>
                        </div>
                        <div>
                            <h4>Nationality:</h4>
                            <p>Korean</p>
                        </div>
                        <div>
                            <h4>Representative Emoji:</h4>
                            <p>🐹</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright &copy; 2023. All rights reserved.</p>
    </div>
</body>
</html>