<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile.css">
    <script src="https://kit.fontawesome.com/09bad0d065.js" crossorigin="anonymous"></script>
    <title>newjeans.com</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <nav class="navbar">
                <ul class="icon">
                    <li class="iconli"><a href="https://www.facebook.com/NewJeansAttention/" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
                    <li class="iconli"><a href="https://www.instagram.com/newjeans_official/?hl=en" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                    <li class="iconli"><a href="https://twitter.com/NewJeans_ADOR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                </ul> 
            </nav>

            <header>
                <h1>
                    NewJeans
                </h1>
            </header>


            <nav class="navbar">
                <ul class="nav1">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="index.html">Albums</a></li>
                    <li><a href="index.html">Merchandise</a></li>
                    <li><a href="index.html">Videos</a></li>
                </ul>
                <hr>
            </nav>

            <div class = "profile">
                <h1>
                    <hr>
                    Profile
                    <hr>
                </h1>
        </div>

           <div class="images-container">
            <img class = "ppic" src="../images/profilepic.jpg">
           </div>

           <div class="content">
            <p>NewJeans (Korean: 뉴진스; RR: Nyujinseu) is a South Korean girl group formed by ADOR, a subsidiary of Hybe Corporation. The group is composed of five members: Minji, Hanni, Danielle, Haerin and Hyein.The group pre-released their debut single "Attention" on July 22, 2022, preceding their debut eponymous extended play, which was released on August 1, 2022.</p>
            
            <h3>Name</h3>
            <p>The group's name, NewJeans, has two meanings. It alludes to the idea that jeans are a timeless fashion item and the group's intention to carve a timeless image for themselves.The name is also a word play on the phrase "new genes", referring to the group ushering a new generation of pop music.</p>
            </div>

            <div class="member">
               <a href="" class="memtag"><img class="mem"src="../images/haerin.jpg"></a>
               <img class="mem"src="../images/danielle.jpg">
               <img class="mem"src="../images/minji.jpg">
               <img class="mem"src="../images/Hanni.jpeg">
               <img class="mem"src="../images/hyein.jpg">
                
              </div>


        </div>


    </div>
    <div class="footer">
        <br>
      
        <p>Copyright &copy; 2023. All rights reserved.</p>
        
    </div>
</body>

</html>